<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Death clock</title>
    <script defer src="static/js/Chart.bundle.min.js"></script>
    <script defer src="static/js/jquery-3.3.1.min.js"></script>
    <script defer src="static/js/font-awesome-5.4.1.js"></script>
    <script defer src="static/js/chart-data.js"></script>
    <link rel="stylesheet" type="text/css" href="static/css/bulma.min.css"/>
</head>
<body>
<!-- Header section -->
<section class="hero is-danger is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Death clock
            </h1>
            <h2 class="subtitle">
                When will you die?
            </h2>
        </div>
    </div>
</section>

<!-- Graph section -->
<section>
    <div class="container">
        <canvas id="chart"></canvas>
    </div>
</section>

<!-- Slider section -->
<section>
    <div class="container">
        <div class="columns">
            <div class="column">
                <div class="box is-fullwidth">
                    <div class="control has-icons-left">
                        <div class="select is-rounded is-fullwidth">
                            <select title="Country">
                                <option>Poland</option>
                                <option>England</option>
                            </select>
                        </div>
                        <span class="icon is-left">
                            <i class="fas fa-globe"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="box is-fullwidth">
                    <a class="button is-fullwidth">Add new variable</a>
                </div>
            </div>
        </div>
        <div class="columns is-multiline" id="slider-div">
            <!-- here be dragons -->
        </div>
    </div>
</section>
</body>
</html>